h2 Vítejte v bonusové části školení Javascriptu

p.info Materiály a cvičení zaměřené na frameworky, které máte před sebou vznikly původně jako součást dvoudenního školení
  a(href="http://angular.cz/#skoleni-javascript", target="_blank")  Javascriptu
  |.
  br
  | Nyní jsou jeho bonusovým materiálem, pokud narazíte na nějakou chybu nebo problém, dejte nám prosím vědět.
  br
  br
  | Slajdy si můžete prohlédnout
  a(href="/Javascript_extra-angular_cz.pdf", target="_blank")  zde.

ul
  li Názvy cvičení korespondují s názvy složek na filesystému, kde budete upravovat zdrojový kód
  li Z návodu se můžete prokliknout přímo na jednotlivá cvičení.
  li Názvy a čísla nadpisů v návodech korespondují s TODO ve zdrojových kódech

h4 Nápovědy
ul
  li V návodu narazíte často na modré nápovědy, nebojte se je využít.

hint Nápovědy se nebojte využívat pokud si nejste jisti.

h4 Řešení k jednotlivým úkolům
ul
  li Pokud si i přesto nebudete vědět rady, jsou v návodech také řešení. Ty si nechte ale až jako poslední možnost.

solution.
  K zobrazení řešení sahejte až když se přestanete cítit ve cvičení komfortně.

h4 Celková řešení
ul
  li Cvičení jsou tu pro Vás, pokud se jimi zabývat nebudete chtít podívejte se alespoň na hotové řešení ve složce complete.