div.info V tomto cvičení jsou použity také věci které nejsou ve slajdech, nestyďte se zde tedy nápovědu použít.

h3 1. Oživení Ember aplikace

h4 1.1 - Inicializujte aplikaci
ul
  li První co musíme udělat je inicializovat globální objekt
    em  App
    |  v
    em  app.js.

hint Ember aplikaci inicializujeme pomocí volání
  em  Ember.Application.create();

solution.
    var App = Ember.Application.create();

h4 1.2 - Vložte obsah šablony routeru

ul
  li Aplikace je inicializovaná, můžete si všimnout i připraveného routeru, ale šablona se nerenderuje
  li Vykreslete šablonu routeru v index.html v šabloně aplikace.

hint Místo zobrazení šablony určíte pomocí&nbsp;
  em
    :escape_ng
      {{outlet}}.

solution(html)
  :escape_ng
    <script type="text/x-handlebars">
      {{outlet}}
    </script>
h4 1.3 - Přesměrujte na routu users

ul
  li Nyní by se nám renderovala routa index, tu ale nemáme definovánu, seznam kontaktů se nachází v routě users
  li Chceme proto na ni z indexu a jakékoli neexistující routy přesměrovat.
  li Proveďte to v definici routy
    em  MissingRoute

hint Přesměrování v routeru provedete pomocí volání
  em  this.transitionTo('název-routy')

solution.
      App.MissingRoute = Ember.Route.extend({
        redirect: function () {
          this.transitionTo('users');
        }
      });

h3 2. Načtení dat ze serveru
h4 2.1 Načtěte model ze zdroje users

ul
  li Šablona se nyní renderuje, ale nejsou v ní žádná data
  li Načtěte model v definici routy
    em  App.UsersRoute
    |  ze storu, ze zdroje
    em  user.

hint Model se v routě definuje pomocí funkce přiřazené do atributu
  em  model.
  |  Seznam načtěte ze storu pomocí
  em  findAll('nazev-zdroje')

solution.
      App.UsersRoute = Ember.Route.extend({
        model: function () {
          return this.store.findAll('user');
        }
      });
h4 2.2 - Vyrenderujte šablonu user-item

ul
  li Nyní se už data ze serveru načítají, ale nevidíme je v šabloně
  li V šabloně routy
    em  users(index.html)
    |  v cyklu iterujícím přes uživatele vyrenderujte šablonu
    em  user-item
    |  a předejte do ní aktuální prvek cyklu jako model.

hint
    :escape_ng
      Šablona se renderuje pomocí helperu {{render "název-šablony" objekt-pro-model}}

solution(html)
      :escape_ng
        {{render "user-item" user}}

h4 2.3 - Definujte atributy modelu

ul
  li Jednotlivé řádky už vidíme, ale nezobrazují se data atributů.
  li Model totiž o atributech neví.
  li Definujte v modeulu
    em  User (user.js)
    |  atributy name, email, archived. Hodnotou bude funkce Ember Data pro tvorbu atributů.

hint Pro definici atributu se používá
  em  key : DS.attr();

solution.
      App.User = DS.Model.extend({
        name: DS.attr(),
        email: DS.attr(),
        archived: DS.attr()
      });

h3 3. Oživení řádku záznamu
h4 3.1 Přepište checkbox na helper

ul
  li Checkbox není namapován na data
  li Změňte html input prvek na helper a namapujte do něj z modelu atribut
    em  archived

hint
  :escape_ng
    Input helper se zapisuje {{input type=checkbox checked=model}

solution(html)
      :escape_ng
        {{input type="checkbox" name="archived" checked=model.archived }}
h4 3.2 - sledujte změny atributu archived

ul
  li Pokud dojde ke změně atributu chceme model uložit.
  li O řádek se stará controller
    em  App.UserItemController (userItem.js)
    |, metoda pro reakci
    em  changeArchived
    |  je již připravená
  li Měla by se volat při změně atributu
    em  model.archived

hint Pro sledování se používá Ember.observer('sledovany-atribut', callback)

solution.
      changeArchived: Ember.observer('model.archived', function () {
        var user = this.get('model');
        if (user.get('hasDirtyAttributes')) {
          user.save();
        }
      }),

h3 4. Editace záznamu
h4 4.1 - Vytvořte routu pro editaci

ul
  li Nejprve vytvořte pro editaci routu.
  li Pojmenujte ji
    em  user
    |, její cesta bude
    em  /users/<id-záznamu>
    |, proměnnou pojmenujte stejně jako se používá v routě App.UserRoute

hint Routa se vytváří v routeru pomocí this.route("název", {path: 'cesta'}). V cestě může být proměnná, označuje se :proměnná

solution.
      this.route('user', {path: '/users/:id'});

h4 4.2 - Upravte na link-to

ul
  li Směrování na routu už funguje, ale v šabloně
    em  user-item
    |  je odkaz proveden pomocí a href
  li Ember má helper link-to, kde se místo url píše název routy.
  li Přepište tedy odkaz na helper linked-to, směrujte na routu
    em  user
    |  a předejte model

hint
  :escape_ng
    Helper se zapisuje ve tvaru {{#link-to "název routy" model class=...}}Odkaz{/link-to}

solution(html)
      :escape_ng
        {{#link-to "user" model class="edit" title="Upravit"}}<span></span>{{/link-to}}

h4 4.3 - předejte model do komponenty

ul
  li Formulář editace se už zobrazuje ale nemá data.
  li Nepředávají se totiž do komponenty
  li Předejte do komponenty model, tak aby se i v komponentě jmenoval model.

hint Data se do komponenty předávají přes atributy ve tvaru
  em  název-v-komponentě=název-v-šabloně

solution(html)
      :escape_ng
        {{user-form model=model submit="saveUser"}}

h3 5. Uložení záznamu
h4 5.1 - Volejte akci save při submitu

ul
  li O uložení záznamu se stará controller
    em  App.UserController
    |, který reaguje na událost
    em  saveUser
    |  předanou komponentě
  li Komponenta ale událost zatím neodesílá

ul
  li Při submitnutí formuláře vyvolejte akci save.

hint
  :escape_ng
    Pro vyvolání akce se používá helper {{action "název události"}}. Defaultní akce je kliknutí. Jinou můžeme určit pomocí atributu on="událost"

solution(html)
      :escape_ng
        <form {{action "save" on="submit"}}>
h4 5.2 - Reagujte na akci save odesláním akce submit

ul
  li Na akci je ještě třeba v komponentě reagovat odesláním akce a notifikovat tak controller.
  li Vytvořte obsluhu události save a odešlete akci pojmenovanou
    em  submit
    |  jako parametr předejte model

hint Obsluha akcí se definuje objektem
  em  actions
  |  kde klíč je název akce a hodnota obslužná funkce. Akce se z komponenty odesílají pomocí metody
  em  this.sendAction('název', parametry);

solution.
      App.UserFormComponent = Ember.Component.extend({
        actions: {
          save: function () {
            this.sendAction('submit', this.get('model'));
          }
        }
        ...

h3 6. Validace formuláře
ul
  li Ember nemá sám o sobě podporu validací na frontendu, ukážeme si ale jak se dá principiálně validace řešit

h4 6.1 - Vyhodnocení validity
ul
  li V komponentě
    em  UserFormComponent
    | se podívejte na vypočtený atribut validation, který vytváří objekt pro zobrazení validací.

  li Chtěli bychom podmínit zobrazení tlačítka pro odeslání validitou formuláře.
  li Můžeme se opřít právě o objekt validation a vytvořit si příznak
    em  invalid
  li Výpočet už je připravený, udělejte z něj vypočtený atribut a navažte jej na objekt
    em  validation


hint Vypočtený atribut se vytváří pomocí Ember.computed('vazba-na-atribut', funkce);

solution.
      invalid: Ember.computed('validation', function () {
        var validation = this.get('validation');
        return validation.name || validation.email;
      })

h4 6.2 - Podmiňte atribut disabled

ul
  li Nyní disablujte tlačítko v případě, že je invalid true

hint
  :escape_ng
    Využijte toho, že při použití atribut={{podmínka}} se atribut přidá jen v případě kladného výsledku

solution(html)
      :escape_ng
        <button class="submit" disabled={{invalid}} >

h3 7. Vytvoření záznamu
h4 7.1 - Použijte komponent user-form
ul
  li Formulář je znovupoužitelný, použijeme jej tedy pro vytvoření záznamu
  li V šabloně
    em  users
    |  použijte komponentu
    em  user-item
  ul
    li jako model jí předejte
      em  newUser
      |  kam controller připravil prázdná data
    li jako akci submit jí předejte
      em  createUser
    li rovnou také nastavte hodnotu
      em  hideCancel
     |  na true aby došlo ke skrytí tlačítka zpět


hint
  :escape_ng
    Komponenta má signaturu {{user-form model=objekt submit="obsluha-události" hideCancel="true"}}

solution(html)
      :escape_ng
          {{user-form model=newUser submit="createUser" hideCancel="true"}}

h4 7.2 - Uložte záznam

ul
  li Komponenta se vykreslila, a vyvolá akci
    em  createUser
    |  při odeslání formuláře, v její obsluze však není fyzické uložení

  li Podívejte se na definici události v
    em  UsersControlleru(users.js)

  li Uložte zde záznam

hint Uložení záznamu se provádí pomocí přidání do store mh4u
  em  this.store.createRecord('zdroj', data)
  |  na vráceném objektu je poté nutno zavolat
  em  .save()

solution(html)
  :escape_ng
    var user = this.store.createRecord('user', userData );
    user.save();

h3 8. Smazání záznamu

ul
  li pro smazání záznamu zbývá implementovat akci
    em  remove
    |  v controlleru
    em  UserItemController (userItem.js)
  li nejprve získejte model controlleru a poté na něm zavolejte metodu pro smazání

hint Pro smazání na modelu volejte metodu
  em  destroyRecord().

solution.
      actions: {
        remove: function () {
          var user = this.get('model');
          user.destroyRecord();
         }
      }