<div class="list-column">
  <h2>Seznam kontaktů</h2>

  <table>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th class="col-archive">Archiv</th>
      <th></th>
    </tr>
    <!-- TODO 3.2 - Archivovanému řádku přidejte třídu archived -->
    <tr ng-repeat="user in list.users | orderBy:'name'" >
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td class="col-archive">

        <!-- TODO 3.1 - Propojte checkbox s modelem user.archived -->
        <!-- TODO 3.4 - Reagujte na změnu-->
        <input type="checkbox" />
      </td>
      <td class="col-actions">
        <!--TODO 4.1 - Přidejte odkaz na editaci -->
        <a class="edit" title="Upravit"><span></span></a>
        <!--TODO 8 - Při kliknutí volejte akci remove-->
        <a class="remove" title="Odstranit"><span></span></a>
      </td>
    </tr>
  </table>
</div>

<div class="create-column">
  <h2>Přidat kontakt</h2>

  <!-- TODO 6.1 - Použijte direktivu formuláře -->

</div>