ul
  li V tomto cvičení si vyzkoušíte, jak putují data do šablony, a jak se používají základní direktivy.

h3 1 - Oživení seznamu uživatelů
ul
  li Aplikace nezobrazuje seznam uživatelů, pokud se podíváte do konzole, dochází k jejich načtení, ve view se to ale neprojeví.

h4 1.1 - Injektněte načtený seznam do controlleru a předejte jej do šablony
ul
  li Podívejte se, kde se uživatele pomocí User.query() načítají v definici routy v app.js a jak je tato vzniklá závislost pojmenovaná.
  li Injektněte tuto závislost do controlleru "ListController" (controllers.js) a předejte do šablony.

hint Závislosti routy jsou definované v routě v objektu resolve{nazev:...}.
  br
  | Injektáž provedete uvedením názvu závislosti mezi parametry kontrolleru.

solution.
  angular.module('userApp')
    .controller('ListController', function (User, users) {
      this.users = users;
      ...

h4 1.2 - Zobrazte položky seznamu
ul
  li Seznam uživatelů nyní proudí z Routeru přes Controller až do šablony
  li Podívejte se v definici routy, jak je controller v šabloně pojmenován, abyste věděli jak k seznamu v šabloně přistupovat.
  li Pro každý záznam budeme chtít vytvořit řádek tabulky, podívejte se jak se k záznamu uvnitř opakovaného kódu bude přistupovat
  li Použijte na řádek tabulky direktivu pro opakování nad daným seznamem.
  li Pokud budete chtít, seřaďte seznam podle attributu "name", není to však nutné.

hint Pro iteraci elementu se používá direktiva ng-repeat ve tvaru ng-repeat="item in controllerName.listOfItems".
  br
  | Pro řazení seznamu můžete použít filter "orderBy:'klic-razeni'". Tento filter můžete použít i uvnitř ng-repeat.

solution
  :escape_ng
    <tr ng-repeat="user in list.users|orderBy:'name'">

h3 2 - Oživení příznaku archivace
ul
  li Seznam uživatelů se nyní zobrazuje. Checkbox není ale navázán na model.

h4 2.1 - Přidejte checkboxu vazbu na model
ul
  li Svažte pomocí patřičné direktivy checkbox s attributem "archived" objektu "user"

hint Pro přidání vazby na model slouží direktiva ng-model="model"

solution
  :escape_ng
    <input type="checkbox" ng-model="user.archived"/>

h4 2.2 - Vizualizujte archivované řádky
ul
  li Model je nyní navázán na checkbox, abychom si to vizualizovali, chceme aby byly archivované řádky proškrtnuty.
  li Na archivovaný řádek chceme aplikovat třídu "archived"

hint Pro podmíněné aplikování třídy se používá direktiva ng-class ve tvaru ng-class="{css-trida : podminka}"

solution
  :escape_ng
    <tr ng-repeat="user in list.users" ng-class="{archived : user.archived}">

h3 3 - Uložení záznamu

ul
  li Při změně hodnoty checkboxu bychom chtěli propisovat změnu rovnou i na server

h4 3.1 - Reagujte na kliknutí na checkbox
ul
  li Při změně hodnoty checkboxu zavolejte na controlleru připravenou metodu "update"
  li Jako parametr metody předejte záznam uživatele.

hint Pro reakci na změnu hodnoty použijte direktivu ng-change="controller.method()"

solution
  :escape_ng
    <input type="checkbox" ng-model="user.archived" ng-change="list.update(user)"/>

h4 3.2 - Uložte záznam uživatele
ul
  li V metodě update controlleru UserController proveďte uložení objektu user.
  li Jako modelová vrstva se používá $resource, objekt má tedy pro uložení metodu

hint Objekt má pro uložení metodu $save()

solution.
  this.update = function (user) {
    user.$save();
  };

h3 4 - Ve zbývajícím čase si prohlédněte aplikaci.
ul
  li Nyní jste si vyzkoušeli způsob, jakým Angular pracuje s direktivami.
  li Aplikace toho ale umí více, prohlédněte si její kód.
  li Pokud budete chtít vyzkoušet další věci, připravili jsme pro Vás cvičení nad rámec tohoto školení - "99-angular-extra"