div.info V tomto cvičení jsou použity také věci které nejsou ve slajdech, nestyďte se zde tedy nápovědu použít.

h3 1. Oživení routeru

ul
  li Na úvodní obrazovce nevidíme aktuálně vůbec nic
  li První co musíme udělat je přidat podporu routování

h4 1.1 - Přidejte závislost na modul pro routing

ul
  li V definici modulu aplikace v
    em  app.js
    |  přidejte závislost na modul pro routování

hint Modul pro routování se jmenuje
  em  ngRoute

solution.
      angular.module('userApp', ['ngRoute', 'ngResource', 'ngMessages'])

h4 1.2 - Přiřaďte routě šablonu

ul
  li Dalším krokem je určit, která šablona se má použít
  li V routě pro seznam uživatelů /users přiřaďte šablonu s url
    em  list.html

hint Pro definici šablony se používá atribut templateUrl

solution.
      .when('/users', {
        templateUrl:  'list.html',

h4 1.3 - Doplňte direktivu pro zobrazení šablony routy

ul
  li Zbývá nám určit v
    em  index.html
    |  , kde se šablona pro aktuální routu bude renderovat

hint Pro určení místa, kde se vyrenderuje šablona vybrané routy se používá direktiva ng-view
solution(html)
      :escape_ng
        <div ng-view></div>

h3 2. Načtení dat ze serveru

ul
  li Šablona už se zobrazuje, ale data se zatím nenačítají

h4 2.1 - Doplňte url pro zdroj users

ul
  li V
    em  services.js
    |  je připravená factory pro načítání dat, nemá však definované url zdroje
  li Předejte službě $resource url zdroje ve tvaru
    em  /api/users/proměnná-pro-id

hint V šabloně url se proměnné uvádějí s dvojtečkou - ve tvaru
  em  :název-proměnné

solution.
      .factory('User', function ($resource) {
        var url = '/api/users/:id';
        return $resource(url, {'id': '@id'});
      });


ul
  li factory pro načtení dat je už připravená, nikde se však nepoužívá

h4 2.2 - Načtěte data ze serveru

ul
  li Data chceme načíst předtím, než dojde k zobrazení šablony routy
  li K tomu máme už v definici routy v
    em  app.js
    |  připravenou závislost
    em  User
    |  v objektu
    em  resolve
  li Načtěte zde data pomocí již injektnuté factory
    em  User
    |  a nezapomeňte, že resolve umí zpracovávat promise.

hint Pro načtení dat pomocí $resource se používá metoda
  em  .query()
  | . Promise je z vráceného objektu možné získat pomocí atributu
  em $promise.

solution.
      resolve: {
          users: function (User) {
            return User.query().$promise;
          }
        }

h3 3. Změna příznaku achivace

ul
  li Seznam uživatelů se nám už vykresluje, nyní bychom chtěli oživit prvky pro změnu

h4 3.1 - Propojte checkbox s modelem user.archived

ul
  li První co musíme udělat je propojit checkbox s modelem
    em  user.archived

hint Pro propojení formulářových prvků a modelu se používá direktiva ng-model

solution(html)
      :escape_ng
        <input type="checkbox"
               ng-model="user.archived" />

h4 3.2 - Archivovanému řádku přidejte třídu archived

ul
  li Nyní máme chceckbox propojený s modelem, ale archivovaný kontakt není šedý
  li Přidejte řádku tabulky CSS třídu
    em   archived
    |  na základě hodnoty modelu
    em  user.archived.

hint Pro podmíněné přiřazení CSS třídy se používá direktiva ng-class. Objekt podmínky je ve tvaru {'css třída' : podmínka}

solution(html)
      :escape_ng
        <tr ng-class="{archived : user.archived}"
            ng-repeat="user in list.users | orderBy:'name'" >

h4 3.3 - Uložte záznam

ul
  li Nyní se už změny projevují, chceme ale záznam rovnou uložit na server
  li Musíme reagovat na změnu pole a volat patřičnou metodu.
  li V controlleru
    em  ListController (controllers.js)
    |  máme připravenou metodu
    em  save
  li Zde proveďte uložení záznamu

hint Uložení se provádí voláním metody
  em  .$save()
solution.
      this.update = function (user) {
        user.$save();
      };

h4 3.4 - Reagujte na změnu

ul
  li Metoda pro uložení není ale dosud volána.
  li Reagujte na změnu checkboxu a volejte v šabloně tuto metodu, jako parametr předejte kontakt z dané iterace.

hint Pro reakci na změnu použijte direktivu
  em  ng-change
  |, jako hodnota atributu se předává metoda k volání. Nezapomeňte, že v šabloně je kontroller pojmenován list.

solution(html)
      :escape_ng
        <input type="checkbox"
               ng-model="user.archived"
               ng-change="list.update(user)"/>

h3 4. Editace záznamu

h4 4.1 - Přidejte odkaz na editaci

ul
  li Routa pro editaci je v
    em  app.js
    |  již připravena, zatím ale na ni nevede odkaz
  li Podívejte se na tvar jejího url a přidejte odkaz pro editaci záznamu v
    em  list.html
  li jako id záznamu použijte user.id

hint Pro vytvoření odkazu použijte ng-href. Cesta se uvádí za
  em #/. 
  :escape_ng
    V atributu můžete použít expression {{}} jako kdekoli jinde.
    
solution(html)
      :escape_ng
        <a ng-href="#/users/{{user.id}}" ... >

h4 4.2 - Přidejte atribut pro model uživatele

ul
  li Nyní se už editační formulář zobrazuje, je ale prázdný, protože se do něj nepředávají data uživatele

ul
  li Direktiva představující formulář je definovaná v
    em  directive.js
  li Přidejte do objektu scope atribut kterým budete předávat do direktivy uživatele a provažte jej dvoucestným databindingem

hint Ve scope se atributy zapisují ve tvaru
  em  nazev : "způsob vazby".
  |  Pro dvoucestný databinding se používá symbol
  em  "=".

solution(html)
      :escape_ng
        scope: {
          user: '=',
          onSave: '&',
          hideCancel: '@'
        },

h4 4.3 - Předejte model uživatel

ul
  li Zbývá nám data předat direktivě v místě použití.
  li Direktiva je použita v
    em  edit.html.
    |  předejte jí právě definovaným atributem model uživatele.

hint Data se předávají přes html atribut.

solution(html)
      :escape_ng
        <user-form user="edit.user" on-save="edit.save()"></user-form>

h3 5. Přesměrování na seznam

ul
  li Data už se do formuláře předávají, můžeme je modifikovat
  li V šabloně
    em  edit.html
    |  si můžeme všimnout metody, která bude zavolána po stisku tlačítka uložit
  li Metoda save controlleru
    em  EditController (controllers.js)
    |  ukládá editovaný záznam.

h4 5.1 - Injektujte službu $location

ul
  li Chtěli bychom po úspěšném uložení přesměrovat zpět na seznam kontaktů
  li První co potřebujeme je injektnout službu pro změnu url -
    em  $location

hint Služby se do controlleru injektují uvedením názvu ve výčtu parametrů.

solution.
      .controller('EditController', function ($location, user) {

h4 5.2 - Přesměrujte na seznam kontaktů

ul
  li Přesměrujte po úspěšném uložení na url
    em / users
  li Využijte promise, který metoda pro uložení vrací

hint Na promise můžete reagovat pomocí
  em  .then(successCallback).
  |  Pro přesměrování využijte $location.path(url).

solution.
      this.user.$save()
        .then(function () {
          $location.path('/');
        });

h3 6. Přidání záznamu
ul
  li direktiva
    em  user-form
    |  je znovupoužitelná. Můžeme ji proto použít i pro přidání záznamu.
  li Prohlédněte si jak je v jejím definičním objektu definováno její rozhraní
    em  scope
    |  a jak je v jejím controlleru provolávaný předaný callback onSave.

h4 6.1 - Použijte direktivu formuláře

ul
  li Použijte direktivu vedle seznamu kontaktů.
  li Předejte do
    em  on-save
    |  metodu pro vytvoření uživatele, je to
    em  list.create()
    | , jako parametr použijte
    em  user.
  li V dalším kroku budeme chtít skrýt tlačítko Zrušit. Přidejte direktivě rovnou i atribut
    em  hide-cancel.

hint Direktivu musíte zapsat vždy jako párový tag. Atributy se předávají s pomlčkou místo camelcase. Callback metody musí mít uveden parametr, se kterým je direktiva volá.

solution(html)
      :escape_ng
        <user-form on-save="list.create(user)" hide-cancel></user-form>
h4 6.2 - Skryjte tlačítko

ul
  li Nyní již můžete přidávat záznamy, chtěli bychom však ještě skrýt tlačítko cancel.
  li V šabloně direktivy zobrazte tlačítko pouze pokud metoda
    em  isCancelVisible
    |  vrátí true.
  li Metoda je dostupná na controlleru pojmenovaném
    em  userEdit

hint Podmíněné zobrazení html umožňuje direktiva ng-if.
solution(html)
      :escape_ng
        <a ng-if="userEdit.isCancelVisible()"
           class="cancel" ng-href="#/orders" >Zrušit</a>

h3 7. Validace formuláře
ul
  li Formulář přidání kontaktu sice už funguje, ale nechá nás přidat nevalidní data
  li Jméno musí být povinné a chceme aby jsme se o chybě dozvěděli.

h4 7.1 - Pojmenujte formulář

ul
  li Oživení validací se bude odehrávat v šabloně direktivy
    em  user-edit.html
  li Nejprve formulář musíme pojmenovat. Jako jméno zvolte
    em  userEdit.form.

hint Formulář se pojmenovává pomocí atributu
  em  name

solution(html)
      :escape_ng
        <form name="userEdit.form" class="user-edit" novalidate>

ul
  li Nyní se již formulář validuje, můžeme se podívat, že email nám po odchodu z pole hlásí chyby
  li Podívejte se, jak je u něj validace udělaná, podobně ji budeme implementovat pro jméno.

h4 7.2 - Udělejte jméno povinným

ul
  li Přidejte input prvku pro jméno atribut určující povinnost zadání

hint Povinnost zadat hodnotu vyjadřuje atribut
  em  required.

solution(html)
      :escape_ng
        <input type="text" name="name" ng-model="userEdit.user.name" class="form-control" required/>
h4 7.3 - Zobrazte chybovou hlášku pro zadání jména-->

ul
  li Nyní musíme chybu vizualizovat.
  li Pokud je chybou required zobrazte pod prvkem text
    em  Musíte zadat jméno.

hint Pro zobrazení chybové hlášky stačí na blok s textem chyby umístit direktivu
  em  ng-message
  |  ve tvaru ng-message="druh-chyby".

solution(html)
      :escape_ng
        <div ng-message="required">Musíte zadat jméno.</div>

h4 7.4 - Disablujte tlačítko pro nevalidní formulář

ul
  li Bylo by příjemné aby nevalidní formulář nenabízel odeslání
  li Nastavte tedy tlačítko odeslání jako disabled ve chvíli kdy není formulář validní.

hint Pro nastavení příznaku
  em  disabled
  |  se používá direktiva
  em  ng-disabled.
  |  Zda je formuláře nevalidní můžete zjistit pomocí jeho metody $invalid.

solution(html)
      :escape_ng
        <button ng-disabled="userEdit.form.$invalid"
                ng-click="userEdit.save()">Uložit
                class="submit"
        </button>

h3 8. Smazání záznamu
h4 8 - Při kliknutí volejte akci remove

ul
  li Nyní můžeme záznamy přidávat, ale nemůžeme je mazat
  li Zavolejte při kliknutí na tlačítko smazat v šabloně seznamu
    em  list.html
    |  akci pro smazání

  li Controller
    em  list
    |  poskytuje metodu
    em  remove,
    |  která přijímá parametrem konkrétního záznamu.

hint Pro reakci na kliknutí využijte direktivu
  em  ng-click,
  |  které předejte akci k zavolání.

solution(html)
      :escape_ng
        <a ng-click="list.remove(user)" class="remove" title="Odstranit"><span></span></a>


