h3 1. Zobrazení seznamu uživatelů

ul
  li V tomto cvičení si vyzkoušíte jak probíhá v backbone řízení pomocí událostí
  li Pokud se nyní podíváte na aplikaci. Seznam uživatelů je prázdný, přestože dotaz na server byl proveden (GET /users)

h4 1.1 - Pojmenujte šablonu záznamu uživatele
ul
  li Pro jednotlivé záznamy je připraveno view "UserItemView" (userItem.js)
  li Prvním krokem k zobrazení bude načtení správné šablony
  li View šablonu již hledá, ale žádná taková není k dispozici
  li Podívejte se tedy, jakou šablonu view načítá, poté takto identifikujte nepojmenovanou šablonu v "index.html"
  li Toto je první krok, který sám pro zobrazení seznamu ještě nestačí.

hint Šablony se identifikují pomocí attributu id="...", Podle kterého se pak načítají do "template"

solution
  :escape
    <script type="text/template" id="user-template">
      ...

h4 1.2 - Renderujte view a přidejte výsledek do html
ul
  li Seznam se renderuje z kolekce uživatelů ve view "ListUsersView" (listUsers.js)
  li Zde se prochází kolekce a měl by se zde pro každý záznam renderovat UserItemView
  li Zavolejte na připravené instanci view zde chybějící metodu pro renderování.
  li Výsledek renderování předejte již přítomné metodě append.

hint Renderování vyvoláte metodou .render(), výsledek je uložen v attributu "el"

solution.
  userView.render();
  this.$list.append(userView.el);

h3 2 - Reakce na akci uživatele
ul
  li Nyní se již seznam objevil, reaguje i na změnu příznaku archivace, nefunguje však mazání.
  li V této části se zaměříme na smazání záznamu, v té další pak na aktualizaci zobrazení.

h4 2.1 - Zpracujte akci kliknutí
ul
  li Odkaz pro mazání má css třídu remove, při kliknutí na něj volejte metodu "destroy"

hint Obsluha událostí v objektu "events" se zapisuje ve tvaru "událost selektor": "metoda".
  br
  | Selektor pro css třídu je ".nazev-tridy".
solution.
  events: {
    ...
    'click .remove': 'destroy'
  }

h4 2.2 - Odstraňte záznam
ul
  li Nyní se při kliknutí na tlačítko bude volat metoda "destroy"
  li Vytvořte ji tedy a dejte v ní modelu pokyn k odstranění

hint Model odstraníte pomocí metody destroy

solution.
  destroy: function () {
    this.model.destroy();
  }

h4 2.3 - Reagujte na odstranění modelu

ul
  li Smazání modelu vyvolá odeslání požadavku na server, view se nám ale zatím neaktualizuje
  li Poslouchejte událost volanou modelem při mazání a proveďte odstranění view

hint Model vysílá událost "destroy". Pro smazání má view metodu "remove", která jej odstraní z domu a odregistruje události registrované pomocí "listenTo".

solution.
  this.listenTo(this.model, 'destroy', this.remove);

h3 3 - Ve zbývajícím čase si prohlédněte aplikaci.
ul
  li Nyní jste si vyzkoušeli způsob, jakým Backbone pracuje s událostmi a aktualizuje model.
  li Aplikace toho ale umí více, prohlédněte si její kód.
  li Pokud budete chtít vyzkoušet další věci, připravili jsme pro Vás cvičení nad rámec tohoto školení - "99-backbone-extra"