p V consoli spusťte vývojový server pro toto cvičení
pre
  code.
    npm run react-webpack

p Příklad se zobrazuje na adrese
  a(href="http://localhost:8088",target="_blank")  localhost:8088

h5 complete
p pokud si chcete zobrazit complete, je nutné spustit
pre
  code.
    npm run react-webpack-complete
p řešení pak uvidíte na adrese
  a(href="http://localhost:8089",target="_blank")  localhost:8089

h3 Seznámení s příkladem
p.
  V souboru index.js naleznete definici dat a použití React componenty UserTable.
  Komponenta renderuje uživatele podobným způsobem jaký jsme viděli v předchozích příkladech. Kód komponenty je v souboru UserTable/index.js.
  Kód není optimální, našim úkolem bude rozdělit ho do více malých komponent a definovat jim znovupoužitelné rozhraní.

h3 1 - Komponenta Header
p.
  Prohlédněte si metodu render v souboru UserTable/index.js. Vidíme, že renderuje celou komponentu, tedy nadpis, tabulku, hlavičku i řádky.
  Hlavička tabulky by přitom mohla být samostatná komponenta. Její renderování je vyčleněno v samostatné metodě renderHeader_.
  Vašim úkolem je dokončit komponentu Header předpřipravenou v souboru UserTable/Header.js, a použít jí v komponentě UserTable.

h4 1.1 dokončení komponenty Header
p.
  soubor UserTable/Header.js obsahuje základní definici komponenty, nemá ale metodu render.
ul
  li implementujte tělo metody render
  li jejím úkolem je vrácení JSX pro hlavičku, tedy kódu který je nyní ve funkci renderHeader_

solution
  :escape
    // v souboru UserTable/Header.js

    var Header = React.createClass({
      render: function() {
        return <tr>
          <th>Jméno</th>
          <th>Email</th>
          <th>Archiv</th>
          <th>Akce</th>
        </tr>;
      }

    });

h4 1.2 použití komponenty Header v UserTable
p.
  Všimněte si, že komponenta Header je již importovaná do souboru UserTable/index.js jako Header. Můžeme ji tedy přímo použít

ul
  li výpis proměnné header v metodě render nahraďte použitím komponenty Header
  li smažte nepotřebný kód (definici proměnné header a metodu renderHeader_)
hint
  :escape
    Kompnonentu použijete zápisem <Nazev />. V této formě ji i můžete vrátit pomocí return.
solution
  :escape
    // v souboru UserTable/index.js

    render: function() {
      var title = this.props.title ? <h2>{this.props.title}</h2> : "";
      var rows = this.props.users.map(this.renderRow_);

      return (
          <div>
            {title}
            <table className="table">
              <thead>
                <Header />
              </thead>
              <tbody>
              {rows}
              </tbody>
            </table>
          </div>
      );
    },

h3 2 - komponenta Row
p.
  Stejně jako hlavičku, i řádek refaktorujeme do komponenty. Ta je už připravena v souboru UserTable/Row.js. Do index.js je importovaná pod názvem Row.
  Stačí ji tedy použít a správně předat atributy.

h4 2.1 - komponenta Row - použití
ul
  li nahraďte JSX v metodě renderRow_ použitím komponenty Row


solution
  :escape
    // v souboru UserTable/index.js

    renderRow_: function(user) {
      return <Row />;
    }
ul
  li v prohlížeči se zatím vykresluje jen hlavička, ale v konzoli vidíme dvě varování, v následujících krocích je opravíme
    ul
      li warning: Failed propType: Required prop `user` was not specified in `Row`. Check the render method of `UserTable`.
      li warning: Each child in an array or iterator should have a unique "key" prop. Check the render method of UserTable.


h4 2.2 - komponenta Row - předání atributu user
p Podívejte se do definice UserTable/Row,js, na vlastnost propTypes. Je zde definováno "rozhraní komponenty"
  br
  | vlastnost (props) user musí být objekt s vlastnostmi name, email.
  br
  | Ten ale není předán - to je důvod varování Required prop `user` was not specified in `Row`.

ul
  li předejte komponentě objekt uživatele do atributu user (aktuální uživatel v iteraci), aby byl v komponentě dosažitelný v this.props

hint
  :escape
    Objekt do atributu můžete předat zápisem <Komponenta atribut={objekt} />.
solution
  :escape
    // v souboru UserTable/index.js

    renderRow_: function(user) {
      return <Row user={user} />;
    }

h4 2.3 - komponenta Row - předání atributu key
p.
  Druhá chyba říká, že každý element v poli musí obsahovat unikátní klíč. V metodě renderRow_ sice přímo pole nevytváříme,
  ale používáme ji jako mapovací funkci na pole objektů uživatelů - takže React opravdu dostává pole Row komponent.
ul
  li předejme komponentě Row atribut key s unikátní hodnotou - např. emailem uživatele
solution
  :escape
    // v souboru UserTable/index.js

    renderRow_: function(user) {
      return <Row user={user} key={user.email} />;
    }

h3 3 - tlačítko smazání
p.
  V prohlížeči můžeme vidět vypsanou tabulku uživatelů, tlačítko mazání ale nefunguje. Pojďme ho tedy oživit.
  Komponenta UserTable má definovanou metodu onDelete, stačí ji tedy předat komponentě Row a zavolat ji při kliknutí na tlačítko

h4 3.1 - rozšíření rozhraní komponenty
ul
  li chceme rozšířit komponentu Row tak, aby uměla přijmout vlastnost onDelete, definujeme jí tedy do propTypes jako typ React.PropTypes.func

solution
  :escape
    // v souboru UserTable/Row.js

    var Row = React.createClass({
      propTypes: {
        user: React.PropTypes.shape({
          name: React.PropTypes.string,
          email: React.PropTypes.string,
          archived: React.PropTypes.boolean,
        }).isRequired,

        onDelete: React.PropTypes.func
      },

h4 3.2 - volání handleru
ul
  li.
    v komponentě už je připravena obslužná metoda, která volá props.onDelete s příslušným parametrem.
    Název metod je handleClick, přidejme ji tedy tlačítku jako atribut při události onClick
hint
  :escape
    Metoda se k události připojí podobně jako atribut <Komponenta onEvent={metoda}/>.
  br
  |  K přístupu k metodě použijte this protože kontext uvnitř komponenty je objekt této komponenty.

solution
  :escape
    // v souboru UserTable/Row.js v metodě render

    <button onClick={this.handleClick}>Smazat</button>

h4 3.3 - výchozí handler
p Protože jsme zatím komponentě onDelete callback nepředali (a propType není povinný), kliknutí na Smazat vyvolá chybu (vyzkoušejte)
ul
  li definujte komponentě Row defaultní props, kde vlastnost onDelete je prázdná funkce
  li defaultní props jsou návratovou hodnotou metody getDefaultProps.
  li zkontrolujte, že už nedochází k chybě při kliknutí na tlačítko

hint Stačí přidat požadovanou vlastnost do objektu vráceného funkcí getDefaultProps

solution
  :escape
    // v souboru UserTable/Row.js

    getDefaultProps: function() {
       return {
         onDelete: function() {}
       };
     },

h4 3.4 - použití tlačítka
ul
  li v souboru UserTable/index.js v místě použití Row předáme jako atribut onDelete stejně pojmenovanou metodu
solution
  :escape
    // UserTable/index.js

    renderRow_: function(user) {
      return <Row user={user} key={user.email} onDelete={this.onDelete} />;
    },

h3 4 - obnovení dat (změna stavu komponenty)
p.
  Pokud jste si při testování tlačíka smazat vymazali všechny záznamy, je nejvyšší čas, oživit tlačítko pro jejich znovunačtení.
  Než se ale do úkolu pustíme, podívejme se kde se vlastně data berou a jak s nimi komponenta pracuje. Všimněte si:

ul
  li definice dat a jejich předání komponentě UserTable jako atributu v index.js
  li v UserTable/index.js je na základě těchto dat inicializován stav komponenty getInitialState
  li funkce onDelete mění stav komponenty

h4 4.1 - obnovení dat (změna stavu komponenty)
p.
  implementujte tělo metody renewData - jako nový stav nastavte objekt s vlastností users, její hodnota budou data z props.users

hint Pro nastavení stavu využijte metodu this.setState({..});
solution
  :escape
    // v souboru UserTable/index.js

    renewData: function() {
      this.setState({
        users: this.props.users
      });
    },

