h3 1. Oživení komponenty formuláře

ul
  li V tomto cvičení se podíváme na to, jak Ember pracuje s komponentami a dokončíme komponentu formuláře.

h4 1.1 - Připojte komponentu do aplikace.

ul
  li Ember šablonu komponenty renderuje, podívejte se na šablonu "components/user-form". Ta ale odolává pokusům o interakci.
  li Komponenta je definována v "components/userForm.js", není ale připojena do namespace aplikace
  li Připojte tedy komponentu do aplikace, její název bude UserForm.

hint
  :escape
    Ember hledá komponenty v objektu aplikace pod názvem <Nazev>Component

solution.
  App.UserFormComponent = Ember.Component.extend({
    ...
  });

h3 2. Oživení ukládání

ul
  li Nyní se komponenta vykreslila a můžeme si všimnout fungujících validačních hlášek.
  li Ani po zadání správných údajů se ale neaktivuje tlačítko pro uložení.

h4 2.1 - Vypočítaný atribut invalid
ul
  li Tlačítko je navázáno na atribut "invalid" který musíme definovat v kompomentě
  li Podíveje se na definici invalid v komponentě.
  li Aby tato vlastnost fungovala udělejte z ní vypočítaný attribut závislý na atributu "validation"

hint Vypočítaný atribut vytvoříte pomocí "Ember.computed('zavislost', function() {...});

solution.
  invalid: Ember.computed('validation', function () {
    var validation = this.get('validation');
    return validation.name || validation.email;
  }),

h4 2.2 - Vyvolejte akci save při události submit
ul
  li Tlačítko je nyní při zadání správných hodnot validní, provede ale odeslání formuláře postem.
  li Podívejte se na akci zatím rozpracovanou "save" definovanou v komponentě, tu chceme volat při submitu formuláře.
  li
    :escape_ng
      Použijte tedy v šabloně komponenty na element formuláře helper {{action ...}} reagující na submit a volající akci "save".

hint
  :escape_ng
    Helper "action" se používá v syntaxi {{action "volana-akce" on="sledovana-udalost"}}

solution
  :escape_ng
    <form {{action "save" on="submit"}}>

h4 2.3 - Odešlete akci z komponenty
ul
  li Tak jako komponenta nyní reaguje na události uživatele, tak může posílat akce těm, kteří je poslouchají.
  li Podívejte se, jak je komponenta použita v šabloně "users" v index.html, je očekáváno vysílání akce "submit"
  li Odešlete tedy z komponenty akci "submit" a přiložte model jako parametr

hint Pro odeslání akce se používá metoda sendAction("akce", parametr);
  br
  | Model také získáte pomocí accessoru .get('nazev')

solution.
  this.sendAction('submit', this.get('model'));

h3 3 - Znovupoužití komponenty
ul
  li Komponenta nyní funguje podle očekávání a můžeme ji znovupoužít i v editaci záznamu.
  li Komponentě předejte model, při submitu má volat metodu "saveUser"

hint Podívejte se na použití v šabloně "users"
solution
  :escape_ng
    {{user-form model=model submit="saveUser"}}

h3 4 - Ve zbývajícím čase si prohlédněte aplikaci.
ul
  li Nyní jste si vyzkoušeli způsob, jakým způsobem se tvoří komponenty v Ember
  li Aplikace toho ale umí více, prohlédněte si její kód.
  li Pokud budete chtít vyzkoušet další věci, připravili jsme pro Vás cvičení nad rámec tohoto školení - "99-ember-extra"