div.info V tomto cvičení jsou použity také věci které nejsou ve slajdech, nestyďte se zde tedy nápovědu použít.

h3 1. Zobrazení šablony seznamu uživatelů

ul
  li Pokud se nyní podíváte na aplikaci. Nic se nezobrazuje
  li Podívejte se do app.js na router, při přístupu na /users se volá metoda list a renderuje view UserListView
  li Jeho definici najdete js/views/listUsers.js. Všimněte si, že je zde prázdná šablona

h4 1 - Načtěte šablonu z elementu s id list-users-template
ul
  li Šablonu zde načtěte pomocí jquery z elementu s id - list-users-template

hint Jquery má syntaxi pro získání elementu $('selektor'). Id získáme #. Na takto získaném elementu nezapomeňte volat metodu .html();

solution.
      template: _.template($('#list-users-template').html()),

h3 2. Načtení dat ze serveru

ul
  li Šablona už se nyní zobrazuje, ale data se nenačítají

h4 2.1 - Definujte url kolekce
ul
  li Musíme říct kolekci spravující uživatele, odkud má tento zdroj načítat. Kolekce je definována v js/models/userList.js
  li Url zdroje users je '/api/users'

hint Cesta ke zdroji se definuje atributem url v rozšiřujícím objektu.

solution.
      app.UserList = Backbone.Collection.extend({
        url: '/api/users',
        ...

h4 2.2 - Načtení ze serveru
ul
  li Teď už stačí jen v routeru v metodě list kolekci načíst ze serveru.

hint Metoda fetch je to co hledáte

solution.
      listUsers.fetch();

h3 3. Zobrazení elementu kolekce

ul
  li V konzoli je nyní možné vidět že došlo k požadavku na server.
  li Vidíme také, že kolekce iteruje přes získané prvky, nevidíme ale žádný jejich obsah.

h4 3.1 - Předejte atributy modelu do funkce renderující šablonu
ul
  li UserItemView je definované v js/views/userItem.js, v metodě render nejsou do šablony předána žádná data
  li Předejte do šablony data modelu převedená do formátu json

hint Není třeba dělat to ručně, existuje metoda .toJSON()

solution.
  this.$el.html(this.template(this.model.toJSON()));

h4 3.2 - Vypište jméno a email
ul
  li Data se stále nevykreslují. Podívejte se v index.html na šablonu s id "user-template"
  li Vypište tedy jméno (name) a email (email)

hint
  :escape Pro výpis atributu použijte <%= %> nebo <%- %>

solution(html).
      <td><%- name %></td>
      <td><%- email %></td>

h4 3.3 - V podmínce zohledněte atribut archive
ul
  li Data se nyní už budou zobrazovat, hodnota checkboxu se stále nevykresluje jak má
  li Checkbox má být zatržený, pokud je kladná hodnota atributu archive

solution(html)
      :escape
        <input name="archived" type="checkbox" <% if(archived) print("checked") %> />

h3 4. Propagace dat do modelu

ul
  li Pokud nyní zakliknete checkbox, měl by text řádku zešednout a přeškrtnout se.
  li V metodě render je vidět manipulace s třídou elementu na základě atributu
  li Změna dat se ale nepropaguje zpět do modelu

h4 4.1 - Reakce na změnu checkboxu
ul
  li Je potřeba vytvořit reakci na událost změny checkboxu.
  li Událost se jmenuje - change, bude reagovat na změnu pole input a zavolá metodu setArchived.
  li Jak napsat selektor se můžete inspirovat v metodě setArchived

hint Syntaxe záznamu v events je: "<událost> <selektor elementu>" : "název metody".
  br
  | Pro teď nám stačí uvažovat selektor elementu jako input.
  br
  | Pokud chcete být přesnější, vybírejte podle názvu - input[name=název-elementu]

solution.
      'change input[name=archived]': 'setArchived',

h4 4.2 -  Při změně modelu volejte render
ul
  li Nyní se změna propaguje, ale nijak se o tom ve view nedozvíme.
  li Bude nutné přerenderovat view na základě změny modelu

ul
  li Aby byla reakce obecná, budeme událost změny poslouchat na modelu.
  li V metodě initialize zaregistrujte listener na modelu.
  li Měl by poslouchat událost "change" a volat metodu render.

solution.
      this.listenTo(this.model, 'change', this.render);

h4 4.3 - Uložte model
ul
  li Změny se do modelu i z něj do view propagují, ještě se ale nedostávají na server.
  li Uložte model v jeho metodě setArchived. Model se nachází v js/models/user.js

hint Stačí zavolat metodu save()

solution.
      this.model.save();

h3 5. Editace uživatele
ul
  li Pro editaci použijeme samostatnou stránku. Nejprve se na ni musíme být schopni odkázat

h4 5.1 - Doplňte id do adresy odkazu
ul
  li V šabloně pro UserITemView, v index.html - id "user-template" naleznete odkaz.
  li Doplňte na jeho konec id záznamu

solution(html)
      :escape
        <a href="#/users/<%- id %>" class="edit" title="Upravit"><span></span></a>

h4 5.2 - Definujte routu pro editaci
ul
  li Pokud se nyní pokusíte přejít na url, nic se nestane, musíme definovat routu v routeru v app.js
ul
  li V přidejte routu pro /users/<id> kde id je proměnná. Při přechodu na routu se má spustit metoda edit.

hint Routy se definují v objektu routes ve tvaru "šablona cesty" : "název metody". Proměnné v cestě se určují dvojtečkou - :nazev

solution.
      routes {
        'users/:id': 'edit',
        ...

h4 5.3 - Předejte id z routy a načtěte odpovídající záznam
ul
  li Editační formulář se už zobrazí, ale je stále prázdný. V metodě edit se totiž nenačítá konkrétní uživatel.
ul
  li Přidejte parametr pro id, který metoda obdrží při zpracování routy a předejte jej do modelu k načtení

hint Parametry routy jsou předávané do funkce.

solution.
      edit: function (id) {
        var user = new app.User({id: id});
        ...

h3 6 - Uložení formuláře

ul
  li Formulář pro uložení je možné brát jako znovu použitelnou komponentu, proto pro něj máme definované samostatné view UserFormView (js/views/userForm.js)
  li Neměl by sám tedy ukládat záznam, ale měl by to nechat na nadřazené komponentě.

h4 6.1 odešlete událost save
ul
  li Podívejte se v objektu events, která metoda je volaná, pokud uživatel klikne na tlačítko submit.
  li Vyvolejte uživatelskou událost pojmenovanou save a jako parametr dejte model. Na ni můžou nadřazené komponenty reagovat.

hint Pro odeslání události se používá metoda .trigger("událost", parametry);

solution.
      this.trigger("save", this.model);

ul
  li Formulář se nyní ukládá, ale uživatel zůstane stále na stejné obrazovce
h4 6.2 - Přesměrujte na seznam uživatelů
ul
  li Podívejte se jak je událost zpracována v EditUserView (js/views/editUser.js)
  li Po dokončení uložení chceme přesměrovat na adresu users a přitom i provést funkci vztaženou k routě.

hint Pro přesměrování můžete použít Backbone.history.navigate('cesta-routy', options). Pokud chcete provést funkci vztaženou k routě, musíte do options přidat trigger:true.

solution.
      Backbone.history.navigate('users', {trigger: true});

h3 7 - Validace formuláře
ul
  li Podívejte se na metodu validate v modelu User (js/models/user.js). Je zde možné vidět vytvoření objektu s chybovými hláškami.

h4 7.1 - Vraťte objekt errors
ul
  li Model je vyhodnocen jako nevalidní pokud tato metoda něco vrátí. Což se aktuálně neděje

solution.
      validate: function(attrs) {
        var errors = null;
        ...
        return errors;
      }

ul
  li Metoda validate teď už ovlivňuje stav modelu, ale uložení jsme nezabránili.

h4 7.2 - Zabraňte odeslání, pokud je model nevalidní
ul
  li Pokyn k uložení se odesílá ve view UserFormView (js/views/userForm.js) ukládá v metodě submit.

hint Pro ověření validity modelu můžete použít metodu isValid()

solution.
      if (!this.model.isValid()) {
        return;
      }

h4 7.3 Reagujte na chybu validace
ul
  li Nyní nám zbývá zobrazit chybové hlášky.
  li V UserFormView je již připravená metoda invalid, která zobrazí a naplní pole s informací o chybě.
  li Zavolejte tuto metodu při chybě validace

hint Při chybě validace odesílá model událost "invalid" na kterou je možné reagovat.

solution.
      this.listenTo(this.model, 'invalid', this.invalid);

h3 8 - Vytvoření nového uživatele

ul
  li Formulář pro editaci uživatele je znovupoužitelný, stačí do něj předat nového uživatele a reagovat jinak na událost odeslání.
h4 8.1 - Zavolejte renderování formuláře
ul
  li Podívejte se, co dělá metoda renderForm v ListUsersView (js/views/listUsers.js).
  li Zavolejte ji v metodě render();

solution.
      this.renderForm();

h4 8.2 - Přidejte data modelu do kolekce

ul
  li Formulář se nyní vyrenderuje vedle seznamu a funguje podle očekávání, kromě uložení nového záznamu.
ul
  li Podívejte se, jak je definovaná metoda, která reaguje na událost save.
  li Využijte patřičnou metodu kolekce, a předejte jí data, nikoli celý model, aby došlo k vytvoření nového záznamu.
  li V dodatečném parametru options určete že má kolekce počkat před informováním view

hint Pro přidání a současné uložení objektu můžete použít metodu .create(data, options). Čekání vynutíte parametrem {wait:true}

solution.
      this.collection.create(model.toJSON(), {wait: true});

h4 8.3 - Reagujte na změnu řazení kolekce
ul
  li Nyní se už prvek přidá, kolekce se po přidání prvku nezobrazuje seřazená.
  li Pokud se podíváte na definici kolekce UserList (js/models/userList.js), uvidíte, že komparátor obsahuje.
  li Při obnovení obrazovky je kolekce správně seřazená.
ul
  li Reagujte tedy v ListUsersView na změnu řazení kolekce zavoláním metody addAll.

hint Při změně řazení vysílá kolekce událost sort.

solution.
      this.listenTo(this.collection, 'sort', this.addAll);

h3 9 - Smazání uživatele
ul
  li Podívejte se na definici events pro událost kliknutí na tlačítko odstranění a na reakci na událost destroy modelu.
  li Zamyslete se nad tím, jak tyto události na sebe navazují

h4 9.1 - Smažete uživatele
ul
  li Zavolejte odstranění modelu na patřičném místě.

hint Pro odstranění se používá metoda .destroy()

solution.
      destroy: function () {
        this.model.destroy();
      }

h4 9.2 - Odstraňte uživatele z html

ul
  li Odstranění provedete smazáním elementu z view
  li Pokud se podíváte na funkčnost, element se již odstraňuje, standardní metoda remove je ale přepsána.
  li Zamyslete se co se zde děje a sjednejte nápravu

hint Je zde provedeno pouze odstranění z view, nedojde však k deregistraci událostí, odstraňte tedy tuto přepsanou metodu.

